/* Sidebar container */
.sidebar-container {
    width: 250px;
    height: 100vh;
    background: #f5f5fa;
    min-width: 250px;
}

/* Spacer */
.spacer {
    height: 60px;
}

/* Sidebar navigation */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 10px 0px 10px;
}

/* Sidebar item default styles */
.sidebar-item {
    display: flex;
    width: 217px;
    height: 40px;
    padding-left: 10px;
    align-items: center;
    background-color: #f5f5fa;
    color: #000000;
    border-radius: 10px;
    transition: 0.1s;
    box-sizing: border-box;
    text-decoration: none;
}

/* Hover effect for sidebar item */
.sidebar-item:hover {
    background-color: #e6e6fa;
    color: #000000;
}

/* Active state for clicked item */
.sidebar-item.active {
    background-color : #a599ed;
    color: #ffffff;
}
